{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <h1 class="page-header">Log in</h1>
    {% if form.errors %}
        <div class="alert-message error fade in">
            <a class="close" href="#">×</a>
            <p><strong>{% trans "Log-in error!" %}</strong> {% trans "The details you entered were incorrect. Note that both fields are case-sensitive." %}</p>
        </div>
    {% endif %}

    <div class="alert alert-info">
        <p>Welcome to Badmama's Badass Django Project Template!</p>
        <p>You must login to access most of the site.</p>
    </div>

    <form action="{% url 'django.contrib.auth.views.login' %}" method="post" id="login-form" class='form'>{% csrf_token %}
        <fieldset>
            <legend>{% trans 'Log in' %} (<a href="{% url 'registration_register' %}">{% trans 'Sign up' %}</a>)</legend>
            {% if form.errors %}
                <div class="alert alert-error">
                    <strong>{% trans "There was a problem creating your account!" %}</strong>
                        {% trans "Please fix the errors below." %}
                </div>
            {% endif %}
            {% bootstrap_form form %}
            <div class="actions form-group">
                <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}">&nbsp;
            </div>
        </fieldset>
    </form>
{% endblock %}